---
layout: default
---

<!-- Page Header -->
<div class="section section-40 section-header">
    <div class="parallax filter">
        <div class="image"
            style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern" style="font-weight:bold;">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <h3>{{ page.description }}</h2>
                    <div class="separator line-separator white">♦</div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Main Content -->
{{ content }}

<hr>
