---
layout: default
---

<!-- Page Header -->

    <div class="section section-header">
        <div class="parallax filter filter-color-red">
            <div class="image"
                style="background-image: url('img/header-1.jpg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">


                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="180px" height="180px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        viewBox="0 0 661 661"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                         <defs>
                          <style type="text/css">
                           <![CDATA[
                            .fil0 {fill:#FEFEFE}
                           ]]>
                          </style>
                         </defs>
                         <g>
                          <path class="fil0" d="M658 331c0,-91 -37,-172 -96,-232 -59,-59 -141,-95 -231,-95 -91,0 -172,36 -232,95 -59,60 -95,141 -95,232 0,79 28,151 74,208 4,-4 7,-7 11,-11 7,-8 12,-18 19,-26 31,-35 106,-49 149,-31 56,24 43,47 102,37 18,-2 33,-4 50,-3 14,2 42,6 43,26 -2,8 -35,12 -50,15 -37,8 -20,4 -49,8 25,8 39,-1 64,-5 8,-2 25,-3 31,-6 18,-7 10,-17 8,-28 16,-15 46,-42 63,-54 8,-5 32,-13 30,4 -1,7 -18,27 -23,33 -50,65 -47,62 -122,93 -64,27 -59,24 -131,9 -81,-16 -80,-22 -111,11 49,30 107,47 169,47 90,0 172,-37 231,-96 59,-59 96,-141 96,-231zm-145 120l0 0zm-67 -205l0 257c1,1 2,1 3,2l3 -2c17,-16 44,-41 61,-52 3,-2 10,-5 16,-7l0 -198 18 0 0 -18 -119 0 0 18 18 0zm-157 0l0 229c7,4 12,8 16,11 13,10 20,16 52,11 5,-1 10,-2 15,-3l0 -248 19 0 0 -18 -120 0 0 18 18 0zm-74 205l0 -205 19 0 0 -18 -120 0 0 18 19 0 0 223c12,-6 26,-11 41,-14 14,-3 28,-4 41,-4zm-128 -261l488 0 0 -11 -488 0 0 11zm245 -115l0 0 246 99 -491 0 245 -99zm-245 148l488 0 0 -28 -488 0 0 28z"/>
                         </g>
                        </svg>

                        <h1 class="title-modern" style="font-weight:bold;">СУД НА ДОЛОНІ</h1>
                        <h3>Аналітичний інструмент для пошуку, дослідження та візуалізації судових рішень</h2>
                        <div class="separator line-separator white">♦</div>
                    </div>
                </div>

            </div>
        </div>
    </div>



<!-- Main Content -->
{{ content }}

<hr>
